@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.hy{
  margin-right:-24px;
  margin-top: -8px;
  z-index: 10;
}


body{
  cursor: url('/cursor1.png'), auto ;
  background-image: url("/bg.png");

  background-repeat: no-repeat;
  background-size: cover; /* Ensures the image covers the entire viewport */
  background-position: center; /* Centers the image in the viewport */
  background-attachment: fixed; /* Keeps the background fixed during scrolling */
  height: 100%;
  width: auto;
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  /*overflow: hidden;  Ensures no scrollbars appear if content exceeds viewport */
  ;
}


/* From Uiverse.io by AlimurtuzaCodes */ 
.btn {
  border: none;
  width: 8em;
  height: 3em;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: #1C1A1C;

  transition: all 450ms ease-in-out;
}

.sparkle {
  fill: #AAAAAA;
  transition: all 800ms ease;
}

.text {
  font-weight: 600;
  color: #AAAAAA;
  font-size: medium;
}

.btn:hover {
  background: linear-gradient(0deg,#f39e61,#f97316);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
  inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
  0px 0px 0px 4px rgba(255, 255, 255, 0.2),
  0px 0px 180px 0px #f97316;
  transform: translateY(-1px);
}

.btn:hover .text {
  color: white;
}

.btn:hover .sparkle {
  fill: white;
  transform: scale(1.2);
} 

/* From Uiverse.io by KINGFRESS */ 
.btun {
  color:#ffffff;
  font-weight: bold;
  color: white;
  background-color: #171717;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.btun span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #f97316;
  
  border-radius: 50%;
  transition: .6s ease;
}

.btun  span:nth-child(6) {
  position: relative;
}

.btun  span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.btun  span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.btun  span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}

.btun  span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.btun span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.btun:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
  
}
  